
.text-to-book {
    color: rgb(74,100,111);
}

.booking-text{
    
    color: rgb(74,100,111);
}

.main-booking-text{
    background-color: white;
    gap: 5%;
}

.booking-pic{
    width: 600px;
}

.book-part{
    background-color: white;
    padding-bottom: 20px;
}

.book-part-buttons{
    background-color: rgb(203,170,119);
    border-color: rgb(203,170,119);
    color: #fff;
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.book-part-buttons:hover{
    background-color: rgb(147, 125, 85);
    color: white;
    border-color: rgb(203,170,119);
}