.main {
    position: relative;
    height: 100vh;
    background-image: url('../../images/Névtelen terv (16).png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

h1, h4 {
    color: rgb(203,170,119);
    white-space: nowrap;
}

.ctaButton {
    background-color: rgb(203,170,119);
    color: rgb(74,100,111);
    border-color: rgb(215, 11, 11) !important;
    border-radius: 30px;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 400px;
    height: 50px;
}

.cta-container .ctaButton {
    border-color: rgb(74,100,111);
    display: flex;
    justify-content: center;
}

.ctaButton:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(74,100,111);
}