.main {
    position: relative;
    height: 100vh;
    background-image: url('Névtelen terv (16).png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

h1, h4 {
    color: #0d6efd;
    white-space: nowrap;
}

.btn-primary {
    background-color: #fff;
    color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-primary:hover {
    background-color: #0d6efd;
    color: white;
}

.ctaButton{
    color: #0d6efd;
}

.ctaButton:hover{
    color: white;
}